@import styles/constants
	
.cursor
	position: fixed
	background-image: url("/images/cursor.png")
	background-repeat: no-repeat
	background-size: contain
	width: 8.6em*0.25
	height: 12.4em*0.25
	z-index: 100
	pointer-events: none

	@media(max-width: $mobile-width)
		display: none
		